@tailwind base;
@tailwind components;
@tailwind utilities;
/* rgb(24, 25, 29) */
/* rgb(51, 54, 59) */

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.sidebar-container {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #081627;
}

.sidebar-menu-container {
  background-color: #101f33;
}

.header-content {
  width: calc(100% + 8px);
}
